{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <div class="text-center">
        <h1 class="text-gold">golden shoe</h1>
    </div>
    <div class="d-flex justify-content-center">
        <div class="p-2">
            <a href="" class="btn btn-outline-dark btn-lg br-20">shop men</a>
        </div>
        <div class="p-2">
            <a href="" class="btn btn-outline-dark btn-lg br-20">shop women</a>
        </div>
    </div>

        <a href="/product/3">
            <div id="common-projects-ad" class="mt-4 rounded-4 text-black">
                <p class="float-end me-4">shop common projects <i class="bi bi-arrow-right"></i></p>
            </div>
        </a>

    </div>

    <div class="container">
    {% for product in products %}
        {% if forloop.first %}
            <div class="row p-3">
        {% endif %}
        <div class="col p-4">
        <a href="/product/{{ product.id }}" class="text-decoration-none">
            <img src="/media/{{ product.images.all.0.image.name }}" class="img-fluid rounded-4 border border-dark" alt="">
            <p class="small m-0 pt-2 text-black">{{ product.brand }} {{ product.name }}</p>
            <p class="small text-muted">£{{ product.price }}</p>
        </a>

        </div>
        {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
        {% if forloop.last %}</div>{% endif %}
    {% endfor %}
    </div>

{% endblock content %}
