body {
  font-family: 'Sora', sans-serif;
  background-color: #FFFAEB;
}

.navbar-brand {
  color: darkgoldenrod;

  &:hover {
    color: darkgoldenrod;
  }
}

$carousel-width: 500px;

.carousel {
  width: $carousel-width*1.5;
  .carousel-item {
    img {
      width: $carousel-width;
      border-radius: 20px;
    }
  }
}
