$bg-color: #FFFAEB;
$carousel-width: 500px;

// elements

body {
  font-family: 'Sora', sans-serif;
  background-color: $bg-color;
}

// utility classes

.text-gold {
  color: darkgoldenrod;
  &:hover {
    color: darkgoldenrod;
  }
}

.text-purple {
  color: #C13584;
  &:hover {
    color: #C13584;
  }
}

.br-10 {
  border-radius: 10px;
}

.br-20 {
  border-radius: 20px;
}

.text-strike {
  text-decoration: line-through;
}

// classes

.carousel {
  width: $carousel-width * 1.35;
  .carousel-item {
    img {
      width: $carousel-width;
      border-radius: 20px;
    }
  }
}

.basket-img {
    max-width: 150px;
}

// ids

#common-projects-ad {
  background-size: cover;
  background: url("/static/img/common-projects.png") no-repeat left center;
  height: 500px;
  p {
    margin-top: 450px;
  }
}

#profile-picture {
  max-width: 150px;
}

#basket-content {
  padding-bottom: 40px;
}

#basket-footer {
  background-color: $bg-color;
}

#and-logo {
  max-width: 120px;
}

#promo-code-inp {
  max-width: 400px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
}

// apple pay
@supports (-webkit-appearance: -apple-pay-button) {
    .apple-pay-button {
        display: inline-block;
        -webkit-appearance: -apple-pay-button;
      text-indent: -9999px;
    }
    .apple-pay-button-black {
        -apple-pay-button-style: black;
    }

  .apple-pay-button-with-text {
    -apple-pay-button-type: buy;
  }

    .apple-pay-button-white {
        -apple-pay-button-style: white;
    }
    .apple-pay-button-white-with-line {
        -apple-pay-button-style: white-outline;
    }
}

@supports not (-webkit-appearance: -apple-pay-button) {
    .apple-pay-button {
        display: inline-block;
        background-size: 100% 60%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border-radius: 5px;
        padding: 0px;
        box-sizing: border-box;
        min-width: 200px;
        min-height: 32px;
        max-height: 64px;
      border: 0;

    }
    .apple-pay-button-black {
        background-image: -webkit-named-image(apple-pay-logo-white);
        background-color: black;
       color: white;
    }
    .apple-pay-button-white {
        background-image: -webkit-named-image(apple-pay-logo-black);
        background-color: white;
    }
    .apple-pay-button-white-with-line {
        background-image: -webkit-named-image(apple-pay-logo-black);
        background-color: white;
        border: .5px solid black;
    }
}